


  <!----------------------------------------------------------------------->
<body>
  <table class="table"*ngIf="orders">
    <thead class="thead-dark">
      <tr>
        <th scope="col">USERNAME</th>
        <th scope="col">PANINO</th>
        <th scope="col">ELIMINA</th>
      </tr>
    </thead>
    <tbody>
      
        <tr *ngFor="let order of orders">
          <td>{{ order.userName}}</td>
          <td>{{ order.item}}</td>
          <td><button  id= > <--- Delete  </button></td>
        </tr>
      
    </tbody>
  </table> 
</body>

  
  