
    
    <BODY>
<div>

 
    <h2>About Us !</h2>
    <h3 style="text-align: center;">Welcome To <span id="W_Name1">PANINOTEKA</span></h3>
    <p>Siamo 3 studenti del leonardo da vinci istituto tecnino, e stiamo facendo questo sito a scopo didattico/stage (grazie a elia),</p>
    <p>PANINOTEKA è una piattaforma "professionale" VENDITE PANNI. Qui ti forniremo solo contenuti "interessanti", che ti piaceranno molto. Ci dedichiamo a fornirti il ​​meglio di VENDITE "panini", con particolare attenzione all'affidabilità, e quindi ordina un panino senza ricevere un panino. Stiamo lavorando per trasformare la nostra passione per VENDITE panini in un sito online in "forte espansione". Ci auguriamo che i nostri VENDITE PANNI vi piacciano tanto quanto noi ci divertiamo a offrirveli.</p>
    <p>linguaggi di programmazione utilizzati : <br>
     back-end <a href="https://nodejs.org/" target="_blank">Node js</a> and  <a href="https://expressjs.com/it/guide/routing.html" target="_blank">ExpressJs</a> <br> 
     front-end <a href="https://angular.io/" target="_blank"> Angular</a>
    </p>
    <p>
        Hoster di questo sito  <a href="https://dashboard.heroku.com/" target="_blank"> Heroku </a> br
        Per il nostro data base abbiamo usato <a href="https://www.mongodb.com/" target="_blank"> MongoDb </a>
    </p>
    <p style="font-weight: bold; text-align: center;">grazie per aver visitato la nostra pagina<br><br>
<span style="color: blue; font-size: 16px; font-weight: bold; text-align: center;">buona giornata!</span></p>
    
</div>
</BODY>