
    
    <BODY>


    <h2>About Us !</h2>
    <h3 style="text-align: center;">Welcome To <span id="W_Name1">PANINOTEKA</span></h3>
    <p>Siamo 3 studenti del leonardo davinci istituto tecino è stiamo facendo questo sito per il stage ,e per impare qualcosa in piu</p>
    <p>PANINOTEKA è una piattaforma professionale VENDITE PANNI. Qui ti forniremo solo contenuti interessanti, che ti piaceranno molto. Ci dedichiamo a fornirti il ​​meglio di VENDITE PANNI, con particolare attenzione all'affidabilità e ordina un panino senza ricevere un panino. Stiamo lavorando per trasformare la nostra passione per VENDITE PANNI in un sito online in forte espansione. Ci auguriamo che i nostri VENDITE PANNI vi piacciano tanto quanto noi ci divertiamo a offrirveli.</p>
    <p>linguagi utilizzati : <br>
     back-end <a href="https://nodejs.org/" target="_blank">Node js</a> and  <a href="https://expressjs.com/it/guide/routing.html" target="_blank">ExpressJs</a> <br> 
     front-end <a href="https://angular.io/" target="_blank"> Angular</a>
    </p>
    <p>
        Hoster di questo sito  <a href="https://dashboard.heroku.com/" target="_blank"> heroku </a> br
        Per il nostro data base abbiamo usato <a href="https://www.mongodb.com/" target="_blank"> MongoDb </a>
    </p>
    <p style="font-weight: bold; text-align: center;">Thanks For Visiting Our Site<br><br>
<span style="color: blue; font-size: 16px; font-weight: bold; text-align: center;">Have a nice day !</span></p>

</BODY>