


  <!----------------------------------------------------------------------->
<body>
  <table class="table"*ngIf="orders">
    <thead class="thead-dark">
      <tr>
        <th scope="col">USERNAME</th>
        <th scope="col">PANINO</th>
        <th scope="col">ELIMINA</th>
      </tr>
    </thead>
    <tbody>
      
        <tr *ngFor="let order of orders">
          <td>{{ order.userName}}</td>
          <td>{{ order.item}}</td>
          <td><button (click)="deleteOrder(order.userName,order.item)"> <--- Delete  </button></td>
        </tr>
      
    </tbody>
  </table> 
</body>

<div> <div><div><button (click)="Dorders()" > cancella tutti gli ordini </button> </div> </div></div>

<!-- aggiungere bottone cancelal tutti ordini di un singolo utente -->

  
  