<!-- -------------------------------------------------------------------------------------------  -->
<router-outlet></router-outlet>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PANINOTEKA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<button type="button" class="btn btn-primary" routerLink="/user">vai a pane</button>

<div class="mt-2">
  <h4>Aggiungi un nuovo panino</h4>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Panino" aria-label="Panino" aria-describedby="basic-addon1"
      [(ngModel)]="nomePanino">
  </div>
  <button type="button" class="btn btn-primary" (click)="addItem(nomePanino)" [disabled]="nomePanino === ''">Aggiungi panino</button>

<table *ngIf="items">
  <thead>
    <tr>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let panino of items">
      <td>{{ panino.item }}</td>
    </tr>
  </tbody>
</table>

<!-- -------------------------------------------------------------------------------------------  -->
<br>
<br>
<br>

<h4>ordina un panino</h4>
<div class="input-group mb-3">
  
  <input type="text" class="form-control" placeholder="User name" aria-label="Panino" aria-describedby="basic-addon1"
    [(ngModel)]="userName">

  <select class="form-select" [(ngModel)]="orderSandwich" >
    <option *ngFor="let c of items" [ngValue]="c">{{c.item}}</option>
  </select>

</div>
<button [disabled]="(userName === '' || orderSandwich ==='')" type="button" class="btn btn-primary"
  (click)="addOrder(userName,orderSandwich)">Aggiungi ordine</button>

<table *ngIf="orders">
  <thead>
    <tr>
      <th>User</th>
      <th>- - - - - - - - - - - - - - - - - - - - - - - - -</th>
      <th>Panino</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.userName}}</td>
      <td>- - - - - - - - - - - - - - - - - - - - - - - - -</td>
      <td>{{ order.item}}</td>
    </tr>
  </tbody>
</table>

<!-- -------------------------------------------------------------------------------------------  -->
<h4>trova utente</h4>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="userName" aria-label="Panino" aria-describedby="basic-addon1"
    [(ngModel)]="name">
</div>
<button [disabled]="name === ''" type="button" class="btn btn-primary" (click)="find_user_order(name)">trova
  utente</button>

<table *ngIf="user_orders">
  <thead>
    <tr>
      <th>User</th>
      <th>- - - - - - - - - - - - - - - - - - - - - - - - -</th>
      <th>Panino</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of user_orders">
      <td>{{ order.userName}}</td>
      <td>- - - - - - - - - - - - - - - - - - - - - - - - -</td>
      <td>{{ order.item}}</td>
    </tr>
  </tbody>
</table>

<br>
<br>
<br>
<br>
<br>

<!-- <pre>{{ items | json }}</pre> -->