<!-- -------------------------------------------------------------------------------------------  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PANINOTEKA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/" >Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/user" >Ordina-panino</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/addPane">Aggiungi panino nel menu </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/userOrders" > ordini utente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/allOrders" > all orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/allSandwich" > all panini</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>


<!-- <pre>{{ items | json }}</pre> -->