
  <body>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><h2>Trova utente</h2></th>
        </tr>
      </thead>
      <tbody>
        
          <tr >
            <td><input type="text" class="form-control" placeholder="userName" aria-label="Panino" aria-describedby="basic-addon1"
              [(ngModel)]="name"></td>
            <td><button [disabled]="name === ''" type="button" class="btn btn-primary" (click)="find_user_order(name)">trova
              utente</button></td>
         
          </tr>
        
      </tbody>
    </table> 
  </body>
    <!-- ---------------------------------------------------------------------------  -->
    <!-- let t=array.forEach(function(s)){
        array.filter(s)
    } -->

<!-- --------------------------------------- -->
    

  <body>
    <table class="table"*ngIf="user_orders">
      <thead class="thead-dark">
        <tr>
          <th scope="col">NOMEUTENTE</th>
          <th scope="col">PANINO</th>
         
        </tr>
      </thead>
      <tbody>
        
          <tr *ngFor="let order of user_orders">
            <td>{{ order.userName}}</td>
            <td>{{ order.item}}</td>
         
          </tr>
        
      </tbody>
    </table> 
  </body>