<link href="home.component.scss" rel="stylesheet" id="bootstrap-css">
<br><br>

<div class="backgroundimg">
<div  class="text-center" >
    <h1>-- BENVENUTI A PANINOTEKA --</h1>
    <ng-container *ngIf="texts">
      <div  class="container" *ngFor="let text of texts">
        <div class="row">
          <h2>{{text}}</h2>
      </div>
      </div>
    </ng-container>

    <ng-container *ngIf="items">
      <div class="card" *ngFor="let item of items">
        <div class="card-body">
          <h5 class="card-title">{{ item.item }}</h5>
          <p class="card-text">{{ item.descrizione }}</p>
          <!-- <a class="btn btn-primary">ORDINALO</a> -->
        </div>
      </div>
    </ng-container>
    <br>
</div>
</div>

