.card {
  margin: 20px auto;
  max-width: 50%;
  border: 3px SOLID #fff;
}

.backgroundimg, .card{
  background-color: rgba(101, 101, 240, 0.897);

}

@media (max-width : 1024px) {
  .card {
    margin: 20px auto;
    max-width: 90%;
    border: 3px SOLID #fff;
  }
}
div{
 // border: 3px dashed #fff;
  color: aliceblue;
}

