<link href="home.component.scss" rel="stylesheet" id="bootstrap-css">
<br><br>

<div class="backgroundimg">
<div  class="text-center" >
    <h1 > BENVENUTI A PANINOTEKA </h1>
    <br>
    <div class="container">
        <div class="row">
            <h2>che stai aspettando ? </h2> <br>

        </div>
    </div>
    <div class="container">
        <div class="row">
          
            <h2>vuoi ordinare un panino ?</h2>
        </div>
    </div>
    <ng-container *ngIf="items">
      <div class="card" *ngFor="let item of items">
        <div class="card-body">
          <h5 class="card-title">{{ item.item }}</h5>
          <p class="card-text">{{ item.descrizione }}</p>
          <!-- <a class="btn btn-primary">ORDINALO</a> -->
        </div>
      </div>
    </ng-container>
</div>
</div>